/* Body */
body {
  background-color: lightblue;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Skip to Main Content link */
.skip-link {
  position: absolute;
  top: -40px; 
  left: 10px;
  background: black;
  color: white;
  padding: 10px;
  z-index: 100;
  transition: top 0.3s ease;
}

.skip-link:focus {
  top: 10px; 
}

/* Navigation (Flexbox) */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
  transition: background 0.3s, transform 0.2s;
}

/* Hover effect */
nav a:hover {
  background-color: lightblue;
  color: black;
  border-radius: 8px;
  transform: scale(1.1);
}

/* Headings */
h1 {
  color: black;
  text-align: center;
}

/* Paragraphs */
p {
  color: black;
  font-size: 20px;
}

/* Article */
article {
  color: white;
  background-color: blue;
  display: inline-block;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}


/* Images with Box Model */

img {
  max-width: 200px;
  width: 100%;
  height: auto;
  border: 4px solid black;
  padding: 5px;
  border-radius: 15px;
}
img {
  width: 150px;
  height: auto;
}

.grid-container img,
.flex-container img {
  justify-self: center; /* centers in grid */
  align-self: center;
}

/* nth-child selector */
img:nth-child(even) {
  border-radius: 50%; 
}



